body{
	font-family: 'Roboto', sans-serif;
	color: #6355dc;
	font-weight: 300;
	background: black;
}

.text-thin{
	font-weight: 100;
}

.text-muted{
	color: #b6aff0;
}

.title-big{
	font-size: 55px;
}

.title-logo{
	margin-top: 15px;
}

.text-colored-gray{
	color:gray;
}